body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #013369;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-content .large-logo {
    height: 200px;
    /* Adjust height for larger logo */
    max-width: 100%;
    /* Ensure the logo is responsive */
}

.header-content .logo {
    height: 100px;
    margin-right: 20px;
}

.header-content .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0 0;
}

nav ul li  {
     margin: 0 10px;
 }

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: white;
    background-color: #014f86;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #013369;
}

main {
    flex: 1;
}

.banner {
    background: url('football-field.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.banner h2 {
    margin: 0 0 20px;
    color: #ffcc00;
    /* Change this color as desired */
}

.about,
.leagues,
.content-section,
#overview,
#scoring-system,
#player-names,
#playoff-system,
#special-rules {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #013369;
}

.leagues ul {
    list-style: none;
    padding: 0;
}

.leagues ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.leagues ul li a {
    margin-right: 20px;
}

.leagues ul li img.thumbnail {
    width: 100px;
    /* Adjust width as needed */
    height: auto;
}

.rowHighlight {
    background-color: #FFFF00;
    font-weight: bold;
    color: #000000;
}
footer {
    background-color: #013369;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .banner {
        padding: 40px 20px;
    }

    .leagues ul li {
        flex-direction: column;
        align-items: flex-start;
    }

    .leagues ul li a {
        margin-bottom: 10px;
    }
}